@import "bootstrap/bootstrap";

// Auto-size app elements to max height
// so they fill the viewport

html, body, .app-container, .app-row, .app-sidebar, .app-map, .panel
  height: 100%

.app-sidebar
  padding: 20px
