@import "bootstrap/bootstrap";

// Auto-size app elements to max height
// so they fill the viewport

html, body, .app-container, .app-row, .app-sidebar, .app-map
  height: 100%

.app-row
  overflow: hidden

.app-sidebar
  background: $bg-color
  padding: 20px
  overflow: scroll

  *:first-child
    margin-top: 0

.info-panel
  .panel-body
    padding: 0

  .list-group
    margin: 0

  .list-group-item
    border-left: 0
    border-right: 0
    border-bottom: 0

  .list-group-item:first-child
    border-top: 0

  .badge
    font-family: $font-family-sans-serif !important

.background
  fill: white;
  pointer-events: all;

.feature
  stroke: $gray-light;
  fill: $gray-light;
  cursor: pointer;

.feature.active
  fill: $brand-primary;

.mesh
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;

#language-heading
  margin-top: 20px

.badge
  background: $brand-primary

.logo
  position: absolute
  bottom: 20px
  right: 20px
  z-index: $zindex-modal
