@import "bootstrap/bootstrap";

// Auto-size app elements to max height
// so they fill the viewport

html, body, .app-container, .app-row, .app-sidebar, .app-map
  height: 100%

.app-sidebar
  background: $bg-color
  padding: 20px

  *:first-child
    margin-top: 0

.filter-panel
  .panel-body
    padding: 0

  .list-group
    margin: 0

  .list-group-item
    border-left: 0
    border-right: 0
    border-bottom: 0

  .list-group-item:first-child
    border-top: 0
