doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="#{author}")
    meta(name="description", content="#{description}")
    link(rel="stylesheet", href="css/app.css")
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

  body
    .app-container.container-fluid
      .app-row.row
        .app-sidebar.col-md-3
          .panel.panel-default
            .panel-heading Site Name
            .panel-body
              p This first paragraph should have text explaining the site, what it can be used for and why it’s important.
              p Below this text we can add elements used to manipulate the map/data on the right
              .input-group
                input.form-control(placeholder="Find a neighborhood")
                .input-group-btn()
                  button.btn.btn-default Search
        .app-map.col-md-9
          iframe(src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d359537.0372323221!2d-75.80025684999997!3d45.25015655000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!1i0!3e6!4m3!3m2!1d45.4056004!2d-76.01723679999999!4m5!1s0x4cce05b25f5113af%3A0x8a6a51e131dd15ed!2sOttawa%2C+ON%2C+Canada!3m2!1d45.4215296!2d-75.69719309999999!5e0!3m2!1sen!2s!4v1397325907416", width="100%", height="100%", frameborder="0", style="border:0")

  script(src='//oss.maxcdn.com/d3js/3.4.3/d3.min.js')
