.form-group
  .input-group
    input.form-control(placeholder="Find a neighborhood")
    .input-group-btn()
      button.btn.btn-default Search
.form-group
  .panel-group
    .filter-panel.panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne") Language
      #collapseOne.panel-collapse.collapse
        .panel-body
          ul.list-group
            li.list-group-item English
            li.list-group-item French
            li.list-group-item English and French
            li.list-group-item Neither English nor French
    .filter-panel.panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo") Ethnic Origin
      #collapseTwo.panel-collapse.collapse
        .panel-body
          ul.list-group
            li.list-group-item North American Aboriginal
            li.list-group-item Other North American
            li.list-group-item European ethnicity
            li.list-group-item Caribbean
            li.list-group-item Latin, Central and South American
            li.list-group-item African
            li.list-group-item Asian
            li.list-group-item Oceania
