:markdown
    ### Insert header photo (flags)
     p1
     
    Who.What.Where. Map Ottawa
    "Discover the world in your backyard"
    
    p2
    The map is your way to understand the cultural richness existing close to your business location.
    
    As Ottawa grows so does its diversity, impacting the amenities and resources required to serve the community.
    
    p3
    
     Who.What.Where. allows you to identify the demographics of your neighbourhood leveraging the infomation to create great communities.
     
     For more information visit www.hireimmigrantsottawa.ca
     
     instruction: Hover over you neighbourhood on the map and the information will appear bellow.

